# === GALICIAVIXÍA CONFIGURACIÓN ===

# 🔑 NASA FIRMS API KEY 
# Obtén en https://firms.modaps.eosdis.nasa.gov/api/map_key/
# Modifica la URL del datasource de Grafana para indicar la KEY
API_KEY=586966e098eed47e04...

# 🔑 METEOSIX API KEY
# Indica en query param del datasource meteosix en Grafana
API_KEY=Nq9bh9LRh21sTE9vf8...
